<div class="row">
    <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item">
            <div class="pull-left">
                <h4 class="list-group-heading">Recipe Name
                    <p class="list-group-item-text">Description</p>
                </h4>
            </div>
            <span class="pull-right">
                <img src="" alt="" class="image-responsive" style="max-height: 50px;">
            </span>
        </a>

            <app-RI></app-RI>
    </div>
</div>
